

.box {
    height: 100px;
    background-color: #F5C6D6;
}
.box2 {
    height: 100px;
    background-color: #EE2E84;
}
.box3 {
    height: 100px;
    background-color: #85CFD8;
}
.box4 {
    height: 100px;
    background-color: #8DC63F;
}
.box5 {
    height: 100px;
    background-color: blue
}
.white-border {
    border: 5px solid white;
}
.box6 { height: 100px;
    background-color: black;


}

time {
    
   color: fuchsia;
    
font-size: 30px;
    padding-left: 30px;
    
}

.text { 

text-align: right;
}
    
